#container {
  padding-bottom: 24px;
}

#pageCounter {
  display: inline-block;
  width: 150px;
}

.pageButton,
.pageButtonDisabled {
  margin-left: 6px;
  border: none;
  background: none;
  height: 32px;
  width: 32px;
  font-size: large;
}

.pageButton:hover,
.pageButtonDisabled:hover {
  border-radius: 16px;
  background: rgb(233, 233, 233);
  color: rgb(50, 48, 187);
}

.pageButtonDisabled {
  color: rgb(182, 182, 182);
}
