#coinList {
  width: 60%;
  text-align: left;
  list-style-type: none;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 90px;
  border-bottom: 5px solid purple;
}

.coinListItem {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: 1px solid rgb(236, 236, 236);
}

.coinListItem:hover {
  background-color: rgb(247, 247, 247);
}
