#listItemCollapsed {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
}

#expansionHint {
  margin-right: 16px;
  color: rgb(106, 113, 160);
  user-select: none;
  font-size: large;
}

.coinIcon {
  width: 16px;
  height: 16px;
  padding-right: 8px;
}

#listItemExpansion {
  display: flex;
  column-gap: 14px;
  padding-left: 12px;
  padding-bottom: 12px;
}

#listItemExpansion h4 {
  display: inline;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
