#listItemCollapsed {
  display: flex;
  justify-content: space-between;
}

#expansionHint {
  margin-right: 16px;
  padding: 4px;
  border-radius: 4px;
  color: rgb(106, 113, 160);
  background: rgb(247, 247, 247);
}

#expansionHint:hover {
  color: white;
  background: rgb(201, 201, 201);
}

.coinIcon {
  width: 16px;
  height: 16px;
  padding-right: 8px;
}

#listItemExpansion {
  display: flex;
  column-gap: 10px;
}

#listItemExpansion h4 {
  display: inline;
  text-decoration: underline;
}
