#listItemCollapsed {
  display: flex;
  justify-content: space-between;
}

#expansionHint {
  margin-right: 16px;
  color: rgb(106, 113, 160);
  user-select: none;
}

.coinIcon {
  width: 16px;
  height: 16px;
  padding-right: 8px;
}

#listItemExpansion {
  display: flex;
  column-gap: 10px;
}

#listItemExpansion h4 {
  display: inline;
  text-decoration: underline;
}
